#MainMenu {visibility: hidden; }
footer {visibility: hidden;}

[data-testid="stAppViewContainer"]
    {
    background-image:url('https://images.unsplash.com/photo-1682685794761-c8e7b2347702?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80');
    background-size:cover
    }

